<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <!-- Definicje appenderów, na przykład ConsoleAppender lub FileAppender -->
        <!-- ... -->

        <!-- Przykład ConsoleAppender -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <!-- Root logger -->
        <Root level="debug">
            <AppenderRef ref="Console"/>
        </Root>

        <!-- Logowanie Hibernate na poziomie ERROR -->
        <Logger name="org.hibernate" level="error" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>

        <!-- Logowanie Hibernate type na poziomie ERROR -->
        <Logger name="org.hibernate.type" level="error" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
    </Loggers>
</Configuration>
